*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    padding: 25px;
}
.btn{
    font-size: 1.3rem;
    padding: 12px 55px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
}
.ipDetails{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.ipDetails ul{
    list-style: none;
    font-size: 22px;
}
.ipDetails ul li{
    letter-spacing: 1px;
}
#ipData{
    color: rgb(48, 153, 48);
}
.map{
    width: 100%;
    height: 65vh;
}
#timezone h3{
    margin: 9px 0;
}
#timezone{
    margin: 45px 0;
}
#searchBoxed{
    width: 100%;
    box-sizing: border-box;
}
#searchBoxed input{
    box-sizing: border-box;
    font-size: 17px;
    padding: 9px 15px;
    border: 2px solid black;
    width: 100%;
    border-radius: 5px;
}
#postOfficeList{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    row-gap: 15px;
    column-gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;

}
#postOfficeList ul:hover{
    box-shadow: 5px 10px rgb(205, 205, 205);
    scale: 1.001;
    border: 4px solid black;
    border-radius: 10px;
}
@media (max-width: 1068px) {
    #postOfficeList{
        display: flex;
        justify-content: center;
    }
}
#postOfficeList ul{
    width: 500px;
    margin: 15px 0;
    list-style: none;
    border: 2px solid black;
    border-radius: 5px;
}
#postOfficeList ul{
    padding: 25px;
}
#postOfficeList ul li{
    margin: 15px 0;
    font-size: 20px;

}
.second{
    font-size: 20px;
    letter-spacing: 1px;
}